<div class="w-50 p-3 m-auto my-5 border-2 shadow rounded-3">
  <div class="w-50 m-auto p-5">
    <h1 class="text-center mb-4">Forget Password</h1>
    <form>
      <div class="p-3">
        <input class="form-control" type="email" placeholder="email">
      </div>
      <br>
      <button class="btn btn-danger d-block form-control w-50 m-auto p-2">Send Mail</button>
    </form>
  </div>
</div>

<div class="w-50 p-3 m-auto my-5 border-2 shadow rounded-3">
  <div class="w-50 m-auto p-5">
    <h1 class="text-center mb-4">Reset Code</h1>
    <form>
      <div class="p-3">
        <input class="form-control" type="text" placeholder="Reset Code">
      </div>
      <br>
      <button class="btn btn-danger d-block form-control w-50 m-auto p-2">Verify Code</button>
    </form>
  </div>
</div>

<div class="w-50 p-3 m-auto my-5 border-2 shadow rounded-3">
  <div class="w-50 m-auto p-5">
    <h1 class="text-center mb-4">Reset Password</h1>
    <form>
      <div class="p-3">
        <input class="form-control" type="password" placeholder="password">
      </div>
      <div class="p-3">
        <input class="form-control" type="password" placeholder="confirm password">
      </div>
      <br>
      <button class="btn btn-danger d-block form-control w-50 m-auto p-2">Reset Password</button>
    </form>
  </div>
</div>
