<div class="container m-5">
  <h1 class="text-center my-5">User Information</h1>
  <a routerLink="/users" class="btn btn-danger">Back to users</a>
  <div class="w-50 m-auto shadow p-2 rounded-3 d-flex justify-content-center align-items-center">
    <div class="w-25">
      <img class="w-75 rounded-4" src="iPhone.svg" alt="name">
    </div>
    <div>
      <div class="w-75 m-auto my-4">
        <label>Username :</label>
      </div>
      <div class="w-75 m-auto my-4">
        <label>Email :</label>
      </div>
      <div class="w-75 m-auto my-4">
        <input class="form-control" type="text" placeholder="name">
      </div>
      <div class="w-75 m-auto my-4">
        <input class="form-control" type="file" accept="image/*">
      </div>
      <div class="w-75 m-auto my-4">
        <button class="btn btn-danger">Update Data</button>
      </div>
    </div>
  </div>
</div>

<hr class="my-5">

<div class="container m-5">
  <h1 class="text-center my-5">Change Password</h1>
  <form class="w-50 m-auto shadow p-2 rounded-3">
    <div class="w-75 m-auto my-4">
      <input class="form-control" type="password" placeholder="password">
    </div>
    <div class="w-75 m-auto my-4">
      <input class="form-control" type="password" placeholder="confirm password">
    </div>
    <div class="w-75 m-auto my-4">
      <button class="btn btn-danger">Update Password</button>
    </div>
  </form>
</div>
